<!-- main app container -->
<div class="">
    <div class="container">
      <br>
      <h3>TigerLab Test - Nurain Abdul Hadi</h3>
      <br>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6">
            <select class="browser-default custom-select">
              <option value="Mr">Mr</option>
              <option value="Mrs">Mrs</option>
              <option value="Prof">Prof</option>
            </select>
          </div>
          <div class="col-md-6"></div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
                <!-- <label>First Name</label> -->
                <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" ng-pattern-restrict="[A-Za-z]" placeholder="First Name"/>
                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors.required">First Name is required and only accept alphabet</div>
                </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
                <!-- <label>Last Name</label> -->
                <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" placeholder="Last Name"/>
                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.required">Last Name is required and only accept alphabet</div>
                </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Email"/>
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
                <input type="text" formControlName="confirmEmail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmEmail.errors }" placeholder="Confirm Email"/>
                <div *ngIf="submitted && f.confirmEmail.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmEmail.errors.required">Please confirm your Email</div>
                    <div *ngIf="f.confirmEmail.errors.email">Email must be a valid email address</div>
                </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group" >
                <input class="form-control" placeholder="yyyy-mm-dd"
                       name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" [ngModelOptions]="{standalone: true}">
                <div class="input-group-append" >
                  <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button" ></button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <input type="number" formControlName="phoneNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" placeholder="Phone Number" />
            <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                <div *ngIf="f.phoneNumber.errors.required">Phone Number is required</div>
                <div *ngIf="f.phoneNumber.errors.minlength">Phone Number must be at least 11 characters</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
                <label>Password</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"  placeholder="Password"/>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
                    <div *ngIf="f.password.errors.pattern">Password must be alphanumeric</div>
                </div>
            </div>
          </div>
          <div class="col-md-6">

          </div>

        </div>
          <!-- <div class="form-group">
              <label>Confirm Password</label>
              <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
              <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                  <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                  <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
              </div>
          </div> -->
          <div class="form-group">
              <button class="btn btn-primary">Register</button>
          </div>
      </form>
    </div>
</div>
